{% extends 'base.html' %}
{% load static %}

{% block scc %}

{% endblock scc %}


{% block script %}
  
  <style>
    .checked {
      color: orange;
    }
    .my-btn {
      background-color: inherit !important;
      border : 0 !important;
    }
  </style>
  <script type="text/javascript" src="{% static "js/stars.js" %}"></script>

{% endblock script %}


{% block content %}
<h1>{{ movie.title }}</h1>
<img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" style="width:200px; height:200px;" alt="movie img">
<div>
  {% for genre in genres %}{{ genre }}{% endfor %}
  <p>{{ movie.runtime }} 분</p>
  <p>평점 {{ vote_average }}</p>
  <p>감독 : {{ director }}</p>
  
  <form
    id="star-check-form"
    method="POST"
    data-movie-id="{{ movie.pk }}"
    data-user-id="{{ user.pk }}"
    data-user-vote="{{ uservote }}"
    style="cursor: pointer;"
  >
  {% csrf_token %}
    <button type="submit" class="fa fa-star my-btn" id="first"></button>
    <button type="submit" class="fa fa-star my-btn" id="second"></button>
    <button type="submit" class="fa fa-star my-btn" id="third"></button>
    <button type="submit" class="fa fa-star my-btn" id="fourth"></button>
    <button type="submit" class="fa fa-star my-btn" id="fifth"></button>
    <span id="uservote" style="display:none;">{{ uservote }}</span> 
  </form>
  
  <p>줄거리 : {{ movie.overview }}</p>
  <a href="{% url 'movies:index' %}">[back]</a>
</div>
{% endblock content %}