{% extends 'base.html' %}

{% block css %}

{% endblock css %}

{% block content %}
  <h1>수정 페이지</h1>
  
  <p>제목 : {{ behind.title }}</p>
  <p>내용 : {{ behind.content }}</p>
  <p>작성자 : {{ behind.user.username }} 감독</p>
  <p>작성일자 : {{ behind.updated_at | date:"Y.m.d H:i:s" }}</p>
  <hr>
  <form action="{% url 'behinds:update' behind.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="수정">
  </form>
  <form action="{% url 'behinds:delete' behind.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  <a href="{% url 'behinds:index' %}">[back]</a>

{% endblock content %}