{% extends 'base.html' %}

{% block css %}
{% endblock css %}

{% block content %}
  <h1>SIGN UP</h1>    
  <h1>SIGN IN</h1>
  <form action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      <div>
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>
      <div>
        <label for="{{ form.nickname.id_for_label }}">Nickname:</label>
        {{ form.nickname }}
        {{ form.nickname.errors }}
      </div>
      <div>
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <div>
        <label for="{{ form.password1.id_for_label }}">Password:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>
      <p>감독 인증이 필요하신 분들은 _____@gmail.com으로 필요한 서류를 제출하시길 바랍니다.</p>
      <input type="submit" value="SIGN UP">
  </form>
{% endblock content %}